.logo{
    padding: 0 10px;
    margin: 0;
}
.pg-block{
    padding: 0 10px;
}
.block-news{
    margin-top: 25px;
}
.block-news__title{
    text-decoration: underline;
}
.block-news__item{
    border-bottom: 2px solid silver;
}
.block-news__txt{
    font-size: 1.2rem;
}
.block__title{
    text-align: center;
}
.activator{
    top: 10px !important; 
}
.music-items{
    grid-gap: 20px;
}
.wrap{
    display: flex;
    flex-direction: column;
}
section{
    min-height: 80vh;
}
.music-items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
.card{
    height: 600px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card .admin-btn{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
.block-news .admin-btn{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
footer{
    align-self: center;
}
.admin-btn{
    text-align: center;
}
