<section class="add-news">
    <h2 class="block__title"><%= title  %></h2>
    <form action="/addnews" class="col s12" method="post">
        <div class="row">
            <div class="input-field col s12">
                <input id="date" type="date" class="validate" name="date">
                <label for="date">Date</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="news" type="text" class="validate" name="news">
                <label for="news">News</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button
    </form>
    
</section>