<section class="about pg-block">
    <h2 class="block__title"><%= title  %></h2>
    <form action="/path/add" class="col s12" method="post">
        <div class="row">
            <div class="input-field col s12">
                <input id="path" type="text" class="validate" name="path">
                <label for="path">Path</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="pathDes" type="text" class="validate" name="pathDes">
                <label for="pathDes">Description</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button
    </form>
</section>